/* Custom CSS for the Exercise Log Card */
.card {
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  background-color: #fff;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Style the buttons */
/* Style the buttons */
.btn {
  font-size: 14px;
  border-radius: 5px;
  margin-left: 5px;
  transition: background-color 0.3s;
  padding: 8px 16px; /* Reduce the padding to make the container smaller */
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}


h2 {
  margin: 10px 0;
}

.table {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f8f9fa;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

i.fa {
  font-size: 16px;
  margin-right: 5px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .btn {
    font-size: 12px;
    padding: 5px 10px;
  }

  h2 {
    font-size: 18px;
  }

  i.fa {
    font-size: 14px;
  }
}
