{% extends "base1.html" %}
{% block body_block %}
{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/exlog_detail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<article class="card">
    <div class="card-body">

        <div class="card-title">
                {% if exlog.user == user %}
                    <a class="btn btn-secondary btn-nm mb-2 pull-right ml-1" href="{% url 'fit:exlog-update' exlog.id %}"><i class="fa fa-edit"></i> Update</a>
                    <a class="btn btn-danger btn-nm mb-2 pull-right mr-1" href="{% url 'fit:exlog-delete' exlog.id %}"><i class="fa fa-trash"></i> Delete</a>
                {% endif %}
                <h2 class="mt-1 mb-2">{{ exlog.date | date:"F d, Y"}} Workout</h2>
        </div>

        <table class="table table-sm table-bordered card-text">
                <thead>
                    <tr>
                        <th>Exercise</th>
                        <th>Weight</th>
                        <th>Sets</th>
                        <th>Reps</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for exercise in exercises%}
                        {% if exercise.exercise_log == exlog %}
                        <tr>
                            <td>{{ exercise.exercise_name }}</td>
                            <td>
                                {% if exercise.exercise_weight != 0 %}
                                    {{ exercise.exercise_weight }} lbs
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>
                                {% if exercise.num_sets != 0 %}
                                    {{ exercise.num_sets }}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>
                                {% if exercise.num_reps != 0 %}
                                    {{ exercise.num_reps }}
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>
                                <a href="/fit/results?ex={{exercise.exercise_name}}" class="text-primary pr-1"><i class="fa fa-line-chart"></i></a>
                                <a href="{% url 'fit:exlog-update-exercise' exercise.id %}" class="text-success pr-1"><i class="fa fa-edit"></i></a>
                                <a href="{% url 'fit:exlog-delete-exercise' exercise.id %}" class="text-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        <br>
        <!-- If the current user is the owener of the Exercise Log, allow them to add Exercises-->
        {% if exlog.user == user %}
        <div class="row">
            <div class="col-sm-4 col-12">
                <a class="btn btn-success btn-ms mb-1" href="{% url 'fit:exlog-add-exercise' exlog.id %}"><i class="fa fa-plus"></i> Add Exercise</a>
            </div>
        </div>
        {% endif %}

    </div>
</article>
</body>
{% endblock %}




