<!DOCTYPE html>
{% load static %}
<html>
<head>
 <link rel="stylesheet" type="text/css" href="{% static 'css/get_started.css' %}">
</head>
<body>
<main role="main" class="container">
  <div class="row justify-content-md-center">

    <!-- Sidebar -->
    <div class="col-md-8">
      <div class="content-section">
        <h2 class="mt-1 text-center"><b>Welcome to FitTrack's Exercise Log!</b></h2>
        <h5 class="mt-3 text-center">Click the button below to add your first Exercise Log</h5>
          <p class="text-center text-muted">Try building your workout first! Simply visit the exercises tab and click "Add to Today's Workout", then come back here to log your sets. </p>

        <div class="col text-center">
            <a href="{% url 'fit:exlog-create' %}">
                <Button class="mt-3 btn btn-success btn-lg ">Start tracking your workouts!</Button>
            </a>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
